<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="My Band" />
    <meta name="description" content="My Band | School Project" />
    <meta name="author" content="Fabio van den Broek" />

    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <script>
        // Menu-toggle button

        $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                $("nav ul").toggleClass("showing");
            });
        });

        // Scrolling Effect

        $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                $('nav').addClass('black');
            }

            else {
                $('nav').removeClass('black');
            }
        })


    </script>
    <title>My Band</title>
</head>
<body lang="nl">

        <div class="wrapper">
                <nav>
                    <div class="logo"></div>
                    <ul>
                        <li><a href="../MyBand/views/contact.html">Contact</a></li>
                        <li><a href="../MyBand/views/album.html">Albums</a></li>
                        <li><a class="active" href="../MyBand/index.html">Home</a></li>
                    </ul>
                </nav>
            </div>
            


            <div id="wrapper">
                    <div id="Albums" class="w3-container city">
                        <section>
                            <div class="gallery trigger">
                                <img src="../css/moonAlbum.jpg" alt="Heartbreak on a full moon - Chris Brown" width="300" height="300" class="thumbnail">
                                <div class="desc">Heartbreak on a Full moon</div>
                            </div>
                    
                            <div class="gallery trigger">
                                <img src="../css/fofAlbum.jpg" alt="Fan of a Fan The Album - Chris Brown" width="300" height="300">
                                <div class="desc">Fan of a Fan The Album</div>
                            </div>
                    
                            <div class="gallery trigger">
                                <img src="../css/royaltyAlbum.jpg" alt="Royalty - Chris Brown" width="300" height="300">
                                <div class="desc">Royalty</div>
                            </div>
                    
                            <div class="gallery trigger">
                                <img src="../css/fortuneAlbum.jpg" alt="Fortune - Chris Brown" width="300" height="300">
                                <div class="desc">Fortune</div>
                            </div>
                    
                            <div class="gallery trigger">
                                <img src="../css/xAlbum.jpg" alt=" - Chris Brown" width="300" height="300">
                                <div class="desc">X</div>
                            </div>
                        </section>
                    
                    </div>
                    </div>
                    
        
    <footer>
    <h6>Copyright Fabio van den Broek MD1B</h6>
    </footer>

<script src="javascript/script.js"></script>
        
</body>
</html>        