h1 {
	text-align: center;
	font-size: 75px;
	color: white;
	font-family: cursive;
	 text-shadow: 3px 3px darkgrey;
}

h2 {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: cursive;
		text-shadow: 3px 3px darkgrey;
	border-top: 5px solid white;

}
body {
	background-image: url(giphy.gif);
/*
height: 1094px;
background: black;
background-image: -o-repeating-linear-gradient(bottom right, rgba(255,255,255,0), rgba(255,255,255,0) 80px, rgba(255,255,255,0.2) 80px, rgba(255,255,255,0.2) 150px);
background-image: repeating-linear-gradient(to top left, rgba(255,255,255,0), rgba(255,255,255,0) 80px, rgba(255,255,255,0.2) 80px, rgba(255,255,255,0.2) 150px);

ANDER ACHTERGROND GEEN GIF.

*/

}

div#memory_board{
	width:800px;
	height:405px;
	padding:18px;
	margin:0px auto;

}
div#memory_board > div{
	background: url(Kaartachterkant2.jpg) no-repeat;
 	box-shadow: 4px 4px darkgrey;
	width:71px;
	height:71px;
	float:left;
	margin:5px;
	padding:20px;
	font-size:75px;
	cursor:pointer;
	text-align:center;

}
